*{
  padding: 0;
  margin: 0;
  appearance: none;
  text-decoration: none;
  color: #222;
  box-sizing: border-box;
}
ol,ul {
    list-style: none;
}

.container {
  padding: 30px 60px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.login{
  font-size: 16px;
  font-weight: bold;
  color: #e9e7e7;
  background: #046BF6;
  padding: 12px 36px;
  border: none;
  border-radius: 3px;
}
.welcome {
  font-size: 34px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 12px;
}
p.explore {
  font-size: 22px;
  color: #E0E0E0;
  margin-bottom: 32px;
}
div.places {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.47rem;

}
.place {
  width: 23.5%;
}
.imgT-list {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 3px;
}
div.places h1 {
  font-size: 18px;
  margin-left: 10px;
}
div.places h2 {
  font-size: 18px;
  font-weight: 500;
}
div.place div.location {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 15px;
}
.location img {
  margin-right: 10px;
  width: 14px;
}
